<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="database_path" value="C:\data\"/>
  <add key="json_path" value="C:\data\json"/>
  <add key="img_path" value="C:\data\img"/>
  <add key="domain_path" value="LDAP://DC=csa,DC=lan"/>
  <add key="domain_name" value="csa.lan"/>
  <add key="log_file_path" value="${basedir}/Logs/${date:format=yyyy-MM-dd}.log"/>
  <add key="log_min_level" value="Info"/>
  <add key="log_max_level" value="Fatal"/>
  <add key="log_rotate_nombre_de_jours_max" value="30"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>