<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="database_path" value="C:\data\"/>
  <add key="json_path" value="C:\data\json"/>
  <add key="img_path" value="C:\data\img"/>
  <add key="domain_path" value="LDAP://DC=csa,DC=lan"/>
  <add key="domain_name" value="csa.lan"/> 
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>